doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    meta(property="og:title" content="Keep yourself up to date. Alexander Suevalov.")
    meta(property="og:url" content="http://pres.suevalov.com/keep-yourself-up-to-date")
    meta(property="og:description" content="This is a talk about how to keep yourself up to date in extremly rapidly evolving universe of software development")
    meta(property="og:image" content="image/og_image.png")
    meta(property="og:type" content="article")
    meta(property="og:locale" content="en_GB")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Keep yourself up to date. Alexander Suevalov.
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Open+Sans:300,400,700', rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='build/build.css')
  
  body
    <!--[if lt IE 9]><p class="chromeframe">You are using an outdated browser.<a href="http://browsehappy.com/">Upgrade your browser today</a>or<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>to better experience this site.</p><![endif]-->
    article

      section(data-bespoke-backdrop="intro")
        .content
          .byline
          h2 Keep yourself up to date
          .byline
          .me
          .me-contacts
            a(href="http://suevalov.com" target="__blank") http://suevalov.com
            a(href="mailto:asuevalov@dataart.com") asuevalov@dataart.com

      section.slide2(data-bespoke-backdrop="slide2")
        .content
          h2 The web is an extremly rapidly evolving universe
          img(src="images/drinking-js.png")

      section.slide3(data-bespoke-backdrop="slide3")
        .content
          img(src="images/slow-down.gif" width="1000px")

      section.slide4(data-bespoke-backdrop="slide4")
        .content
          .byline
          h2 We need a recipe
          .byline

      section.green.slide5(data-bespoke-backdrop="green")
        .content
          h2 Follow these simple steps
          ul
            li Follow cool people
            li Find the best sources
            li Attend conferences
            li Get your own sources
            li Backup your knowledge

      section.slide6(data-bespoke-backdrop="twitter")
        .content
          .byline
          h2 Follow cool people
          .byline
          
          
      section.slide7.green(data-bespoke-backdrop="green")
        .content.links-list
          ul
            li.people
              .photo.osmani
              .info
                a(href="http://addyosmani.com/" target="__blank") Addy Osmani
                a(href="https://twitter.com/addyosmani" target="__blank") @addyosmani
            li.people
              .photo.rauschma
              .info
                a(href="http://rauschma.de/" target="__blank") Axel Rauschmayer
                a(href="https://twitter.com/rauschma" target="_blank") @rauschma
            li.people
              .photo.alman
              .info
                a(href="http://benalman.com/" target="__blank") Ben Alman
                a(href="https://twitter.com/cowboy" target="_blank") @cowboy
            li.people
              .photo.croll
              .info
                a(href="http://anguscroll.com/" target="__blank") Angus Croll
                a(href="https://twitter.com/angustweets" target="_blank") @angustweets
            li.people
              .photo.coyer
              .info
                a(href="http://css-tricks.com/" target="__blank") Chris Coyier
                a(href="https://twitter.com/chriscoyier" target="_blank") @chriscoyier
            li.people
              .photo.frost
              .info
                a(href="http://bradfrostweb.com/" target="__blank") Brad Frost
                a(href="https://twitter.com/brad_frost" target="_blank") @brad_frost
            li.people
              .photo.heilmann
              .info
                a(href="http://christianheilmann.com/" target="__blank") Christian Heilmann
                a(href="https://twitter.com/codepo8" target="_blank") @codepo8
            li.people
              .photo.walsh
              .info
                a(href="http://davidwalsh.name/" target="__blank") David Walsh
                a(href="https://twitter.com/davidwalshblog" target="_blank") @davidwalshblog
            li.people
              .photo.resig
              .info
                a(href="http://ejohn.org/" target="__blank") John Resig
                a(href="https://twitter.com/jeresig" target="_blank") @jeresig
                
      section.slide8.green(data-bespoke-backdrop="green")
        .content.links-list
          ul
            li.people
              .photo.irish
              .info
                a(href="http://paulirish.com/" target="__blank") Paul Irish
                a(href="https://twitter.com/paul_irish" target="__blank") @paul_irish
            li.people
              .photo.sorhus
              .info
                a(href="http://sindresorhus.com/" target="__blank") Sindre Sorhus
                a(href="https://twitter.com/sindresorhus" target="__blank") @sindresorhus
            li.people
              .photo.ashkenas
              .info
                a(href="http://ashkenas.com/" target="__blank") Jeremy Ashkenas
                a(href="https://twitter.com/jashkenas" target="__blank") @jashkenas
            li.people
              .photo.harisov
              .info
                a(href="http://vitaly.ya.ru/" target="__blank") Vitaly Harisov
                a(href="https://twitter.com/harisov" target="__blank") @harisov
            li.people
              .photo.operatino
              .info
                a(href="http://rhr.me/" target="__blank") Robert Haritonov
                a(href="https://twitter.com/operatino" target="__blank") @operatino
            li.people
              .photo.veged
              .info
                a(href="http://veged.ru/" target="__blank") Sergey Berezhnoy
                a(href="https://twitter.com/veged" target="__blank") @veged
            li.center
              h2 Who is the author of "whatever I use"? 
              h2 Google it. 
              h2 Follow them.
              
      section.slide9
        .content
          img(src="images/gotit.gif" width="1000px")
        
          
      section.slide10(data-bespoke-backdrop="dig")
        .content
          .byline
          h2 Find the best sources
          .byline
      
      section.slide11.green(data-bespoke-backdrop="green")
        .content.links-list
          h2 Web Resources
            a.more(href="https://twitter.com/frontendrescue/lists/best-sources/members" target="__blank") (See all list)
          ul
            li.resource
              .logo.dailyjs
              .info
                a(href="http://dailyjs.com/" target="__blank") DailyJS
            li.resource
              .logo.treehouse
              .info
                a(href="http://blog.teamtreehouse.com/" target="__blank") Treehouse Blog
            li.resource
              .logo.echojs
              .info
                a(href="http://www.echojs.com/" target="__blank") EchoJS
            li.resource
              .logo.html5rocks
              .info
                a(href="http://www.html5rocks.com/en/" target="__blank") HTML5 Rocks
            li.resource
              .logo.smashing
              .info
                a(href="http://www.smashingmagazine.com/" target="__blank") Smashing Magazine
            li.resource
              .logo.tuts
              .info
                a(href="http://code.tutsplus.com/" target="__blank") Tuts+
            li.resource
              .logo.csstricks
              .info
                a(href="http://css-tricks.com/" target="__blank") CSS-Tricks
            li.resource
              .logo.codrops
              .info
                a(href="http://tympanus.net/codrops/" target="__blank") Codrops
            li.resource
              .logo.habr
              .info
                a(href="http://habrahabr.ru/" target="__blank") Habrahabr

      section.slide12.green(data-bespoke-backdrop="green")
        .content.links-list
          h2 Podcasts
          ul
            li.resource
              .logo.shoptalk
              .info
                a(href="http://shoptalkshow.com/" target="__blank") Shoptalk
            li.resource
              .logo.radiot
              .info
                a(href="http://www.radio-t.com/" target="__blank") Radio-T
            li.resource
              .logo.radiojs
              .info
                a(href="http://radiojs.ru/" target="__blank") RadioJS
            li.resource
              .logo.jsjabber
              .info
                a(href="http://devchat.tv/js-jabber/" target="__blank") Javascript Jabber
            li.resource
              .logo.advangular
              .info
                a(href="http://devchat.tv/adventures-in-angular/" target="__blank") Adv. in Angular
            li.resource
              .logo.frontflip
              .info
                a(href="http://frontflip.me/" target="__blank") Frontflip
      
      section.slide13.green(data-bespoke-backdrop="green")
        .content
          h2 Weekly news
          ul
            li
              a(href="http://javascriptweekly.com/" target="__blank") Javascript Weekly
            li
              a(href="http://tinyletter.com/front-end-rapport" target="__blank") Front-end Rapport
            li
              a(href="http://dailynerd.nl/" target="__blank") Daily Nerd
            li
              a(href="http://html5weekly.com/" target="__blank") HTML5 Weekly
            li
              a(href="http://web-design-weekly.com/" target="__blank") Web Design Weekly
          
          
      section.slide14.green(data-bespoke-backdrop="green")
        .content
          h2 Github
          img(src="images/trending_github.gif" width="100%")
          
      section.slide15.green(data-bespoke-backdrop="green")
        .content
          h2 Useful links
          ul
            li
              a(href="http://www.webresourcesdepot.com/15-youtube-channels-designers-developers/") 15 channels for Web Developers
            li
              a(href="https://github.com/dypsilon/frontend-dev-bookmarks") Frontend Dev Bookmarks
            li
              a(href="https://github.com/sorrycc/awesome-javascript" target="__blank") Awesome Javascript
            li
              a(href="https://github.com/bayandin/awesome-awesomeness" target="__blank") Awesome Awesomeness
              
      section.slide16(data-bespoke-backdrop="conference")
        .content
          .byline
          h2 Attend conferences
          .byline
            
      section.green.slide17(data-bespoke-backdrop="green")
        .content.links-list
          ul
            li.resource
              .logo.fronteers
              .info
                a(href="http://fronteers.nl/" target="__blank") Fronteers
            li.resource
              .logo.coldfront
              .info
                a(href="http://coldfrontconf.com/" target="__blank") ColdFront
            li.resource
              .logo.fronttrends
              .info
                a(href="http://front-trends.com/" target="__blank") Front Trends
            li.resource
              .logo.wsd
              .info
                a(href="http://webstandardsdays.ru/" target="__blank") WS Days
            li.resource
              .logo.yac
              .info
                a(href="https://events.yandex.ru/events/yac/2014/" target="__blank") YaC
            li.resource
              .logo.moscowjs
              .info
                a(href="http://www.moscowjs.ru/" target="__blank") MoscowJS
      
      section.green.slide18(data-bespoke-backdrop="green")
        .content
          h2 Useful links
          ul
            li
              a(href="http://devtalks.io/" target="__blank") Devtalks.io
            li
              a(href="https://twitter.com/frontendrescue/lists/conferences/members" target="__blank") List of conferences in Twitter
            li
              a(href="https://github.com/FrontenderMagazine/conference-videos" target="__blank") Conference Videos
                
      section(data-bespoke-backdrop="sources")
        .content
          .byline
          h2 Get your own sources
          .byline
            
      section
        .content.quotes
          .photo.osmani
          h4 Addy Osmani
          blockquote
            | These days I find myself heavily relying on Twitter lists and G+ circles to keep up to date with what's happening on the front-end.

      section
          .content
            h2 Really? Okay..
            img(src="images/gplusfail.gif" width="800px")

      section
        .content.quotes
          .photo.sexton
          h4 Alex Sexton
          blockquote
            | The only way that I've found that I'm able to stay up to date is by creating... When I want to learn something, I'll just start a project with it, and along the way I'll figure out the other tools I need to be successful.

      section
        .content.quotes
          .photo.lindley
          h4 Cody Lindley
          blockquote
            | As part of my daily activities, I spend 20 to 30 minutes reviewing twitter and RSS feeds... From time to time I pick a coding, or writing, project and focus all of my spare time in this area. When I'm feeling burnt out I'll attend a conference so that I can be inspired by ideas and people. And when I am really bored I start looking into practices that cross over into my area of expertise.


      section(data-bespoke-backdrop="backup")
              .content
                .byline
                h2 Backup your knowledge
                .byline
            
      section
        .content
          h2(style="margin-bottom: 40px;") Put the Internet to work for you
          img(src="images/ifttt.png" width="400px")
          
      section
        .content
          h2(style="margin-bottom: 40px;") Remember Everything
          img(src="images/evernote.png" width="400px")
          
      section(data-bespoke-backdrop="share-repeat")
        .content
          .byline
          h2 Play, fail, succeed, share, repeat.
          .byline

      section.thanks(data-bespoke-backdrop="ironman")
        .content
          h2 Thanks
          a(href="http://suevalov.com/" target="__blank") Alexander Suevalov
          a(href="mailto:asuevalov@dataart.com") asuevalov@dataart.com
          a.github(href="https://github.com/suevalov" target="__blank") http://github.com/suevalov
          a.twitter(href="https://twitter.com/Suevalov" target="__blank") http://twitter.com/Suevalov
          
    script(src='build/build.js')
    script.
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter27193172 = new Ya.Metrika({
            id:27193172,
      trackHash:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src="//mc.yandex.ru/watch/27193172" style="position:absolute; left:-9999px;" alt="")
      
      

